body {
  background-color:#444;
}

.App {
  text-align: center;
  font-family: monospace;
}

.film-box {
  border: 5px black solid;
  margin: 10px;
  background-color: rgb(134, 124, 120);
}

.film-list {
  /* border: 5px solid; */
  margin: 10 px;
  
}

.film {
  /* border: 5px solid; */
  margin: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color:black;
  border: 10px;
  background-color:salmon;
  border-radius:  12px;
  padding: 8px;
  text-decoration: none;
  font-size: small;
  font-style: normal;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  letter-spacing: 2.5px;
  width: 140px;
  height: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}
a:hover {
  color:white;
  background-color: #444;
  box-shadow: 0px 15px 20px rgba(68, 63, 67, 0.274);
  transform: translateY(-7px);


}

hr {
  border-top:1px solid black;
}